.dp__action_row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: $dp__common_padding;
  padding-top: 0px;
  padding-left: 32px;
  padding-right: 32px;
  box-sizing: border-box;
  color: var(--dp-text-color);
  background: var(--dp-background-color);

  svg {
    height: $dp__button_icon_height;
    width: auto;
  }
}

.dp__selection_preview {
  color: var(--dp-text-color);
  margin: 6px 0px 12px 0px;
  font-size: $dp__preview_font_size;
}

.dp__action_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  text-align: right;
}

.dp__action {
  font-weight: bold;
  cursor: pointer;
  padding: $dp__action_buttons_padding;
  border-radius: $dp__border_radius;
  display: inline-flex;
  align-items: center;
}

.dp__select {
  color: var(--dp-primary-text-color);
  background-color: var(--dp-primary-color);
}

.dp__action_disabled {
  color: var(--dp-success-color-disabled);
  cursor: not-allowed;
}

.dp__cancel {
  color: var(--dp-primary-color);
  margin-right: 16px;
}
